.grid {
  display: flex;

  &__item {
    display: flex;
    flex-basis: calc(100% / 3 - 2rem);
    margin: 1rem;
    padding: 0.5rem;
    background: $c-white;

    &--title {
      font-weight: bold;
      margin: 0;
    }

    &--subtitle {
      text-transform: uppercase;
      margin: 0;
    }
  }

  &__info {
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
  }
}
